/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

* {
box-sizing: border-box;
}

body {
font-family: sans-serif;
background: #EBF4FA;
}
.container {
background-color: #46C7C7;
height: 100vh;
margin-top: 80px;
width: 100%;
height: 100%;
border-radius: 8px;
}

.form-check input {
padding: 15px;
width: 100%;
border: 1px solid #92C7C7;
border-radius: 4px;
font-size: 14px;
font-family: inherit;
outline: none;

}
.form-check label {
font-size: 20px;
color: #FFFFFF;
font-weight: bold;
text-align: left;
}
.row {
padding-top: 100px;
margin-left: 10px;
margin-right: 10px;
}
.button1 input {
color: #FFFFFF;
font-size: 18px;
font-family: "Roboto", sans-serif;
width: 0 auto;
outline: none;
padding: 5px;
background: #79BACE;
border: 1px solid #A0CFEC;
position: relative;
border-radius: 4px;
top: 0px;
float: right;
margin-top: 20px;
margin-right: 10px;
}
a {
text-decoration: none;
font-size: 16px;
color: #FFFFFF;
font-weight: bold;
float: right;
}
.form-check input:hover {
border: 1px solid #617C58;
}
.button1 input:hover {
transition: 0.5s ease-out;
color: #4EE2EC;
border: 1px solid #FFFFFF;
box-shadow: 3px 2px 3px;
}
 
.button2 input {
color: #FFFFFF;
font-size: 18px;
font-family: "Roboto", sans-serif;
width: 100%;
outline: none;
padding: 5px;
background: #79BACE;
border: 1px solid #A0CFEC;
position: relative;
border-radius: 4px;
font-weight: bold;
}
.button2 input:hover {
transition: 0.5s ease-in;
color: #4EE2EC;
border: 1px solid #FFFFFF;
box-shadow: 3px 2px 3px;
}
